@media screen and (min-width: 800px) {
  nav {
    display: flex !important;
    flex-direction: row;
    gap: 2rem;
  }

  #menu-toggle {
    display: none;
  }

  .about-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }

  #course-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  #course-container div {
    flex: 0 1 30%;
  }
  
  #show-all {
  width: 475px;
  height: 45px;
  font-size: 1rem;
  background-color: #005a9c;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-right: 0.5rem;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  transition: background-color 0.3s;
}

#show-all:hover {
  background-color: #003e73;
}

#show-cse {
  width: 477px;
  height: 45px;
  font-size: 1rem;
  background-color: #005a9c;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-right: 0.5rem;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  transition: background-color 0.3s;
}

#show-cse:hover {
  background-color: #003e73;
}

#show-wdd {
  width: 475px;
  height: 45px;
  font-size: 1rem;
  background-color: #005a9c;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-right: 0.5rem;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  transition: background-color 0.3s;
}

#show-wdd:hover {
  background-color: #003e73;
}
}