@media screen and (min-width: 768px) {
  nav {
    display: flex !important;
    flex-direction: row;
    gap: 2rem;
  }

  #menu-toggle {
    display: none;
  }

  .about-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .about-text, .about-photo {
    flex: 1;
  }

  #course-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  #course-container div {
    flex: 0 1 30%;
    text-align: center;
  }
  
 #course-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 2rem auto;
  max-width: 950px;
}

#course-buttons button {
  flex: 1 1 250px;
  height: 50px;
  font-size: 1rem;
  background-color: #005a9c;
  color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

#course-buttons button:hover {
  background-color: #003e73;
  transform: scale(1.03);
}
}