body {
  font-family: 'Roboto', sans-serif;
  background: #eaf3fc;
  color: #034078;
}

header, nav, main, footer {
  padding: 1rem;
}

header {
  background-color: #034078;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 100px;
}

#menu-toggle {
  background: transparent;
  color: white;
  border: none;
  font-size: 1.5rem;
}

nav {
  display: none;
  flex-direction: column;
  background: #d4e3f5;
}

nav.open {
  display: flex;
}

nav a {
  color: #034078;
  text-decoration: none;
  margin: 0.5rem 0;
}

h2 {
  color: #034078;
}

h2 {
  color: #034078;
  text-align: center;
}

.about-grid {
  display: block;
}

.about-text p {
  width: 800px;            
  height: 300px;           
  padding: 1rem;
  background-color: #dbe9f4;
  border: 2px solid #003366;
  border-radius: 8px;
  overflow-y: auto;       
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  text-align: justify;
}

.about-text h2{
  width: 805px;            
  height: 30px;           
  padding: 1rem;
  border-radius: 8px;
  overflow-y: auto;       
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #034078;
  color: white;
}

.about-photo {
  text-align: center;
}

.about-photo img {
  max-width: 60%;
  height: auto;
  border-radius: 6px;
  display: inline-block;
}

.about-photo h2{
  width: 430px;            
  height: 30px;           
  padding: 1rem;
  border-radius: 8px;
  overflow-y: auto;       
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #034078;
  color: white;
}

.photo-frame {
  background-color: #dbe9f4;
  padding: 1.5rem;
  border: 2px solid #003366;
  border-radius: 12px; /* Fully rounded corners */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  display: inline-block;
}

.photo-frame img {
  display: block;
  width: 600px;
  height: 285px;
  object-fit: cover;
  border-radius: 10px; /* Optional: round the image inside too */
  margin: auto;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #034078;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.5rem 0 0;
  border-radius: 4px;
  cursor: pointer;
}

.course-container p {
  text-align: center;
}

.course-section h2 {
  width: 1300px;            
  height: 30px;           
  padding: 1rem;
  border-radius: 8px;
  overflow-y: auto;       
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #034078;
  color: white;
}

.course-section p {
  text-align: center;
}

.social {
  text-align: center;
}

.social a {
  color: #034078;
  margin-right: 1rem;
  text-decoration: none;
  font-size: larger;
}

.social img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

footer p {
  width: 1300px;            
  height: 40px;           
  padding: 1rem;
  border-radius: 8px;
  overflow-y: auto;       
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #034078;
  color: white;
  text-align: center;
  margin: 0.5rem 0;
}

